@charset 'UTF-8';
@import '../../../includ/scss/_reset';
@import '../../../includ/scss/public';
@import '../../../includ/scss/banner';
$gray: #eee;
$blue: #00dada;
$red: #ff7a7b;
@mixin fl
{
    float: left;
}

@mixin fr
{
    float: right;
}

@mixin comw
{
    width: 1200px;
    margin: 0 auto;
}

.gap-20
{
    padding: 10px;
}

.banner
{
    height: 300px;
    .circles li
    {
        width: 11px;
        height: 11px;
    }
}

.main
{
    background-color: #f1f1f1;
}


/* subnav */

.subbar
{
    width: 100%;
    height: 66px;
    margin-top: 13px;

    border-bottom: 1px solid #d8d8d8;
    background-color: #fff;
}

.sub-wrap
{
    @include comw;
}

.subnav
{
    float: left;
    li
    {
        font-size: 16px;

        float: left;

        padding: 25px 10px 20px;

        cursor: pointer;
        &.active
        {
            border-bottom: 4px solid $blue;
        }
    }
    .nav-middle
    {
        margin: 0 90px;
    }
}


/* 计算器 */

.calculator-wrap
{
    float: right;
    .calculator
    {
        line-height: 66px;

        height: 66px;
        padding: 0 10px 0 40px;

        cursor: pointer;

        background: url('../img/finance_calculator.png') left center no-repeat;
    }
}

.finance-content
{
    @include comw;
}


/* 优选理财计划 */

.selection
{
    padding: 24px 0 24px 8px;
}

.selection-plis
{
    font-size: 15px;

    color: #707070;
    dt
    {
        line-height: 24px;

        float: left;

        height: 24px;
    }
    dd
    {
        line-height: 24px;

        float: left;

        height: 24px;
        margin-left: 35px;
        padding: 0 12px;

        cursor: pointer;
        &.selected
        {
            color: #fff;
            border-radius: 4px;
            background-color: $blue;
        }
    }
}

.premium-content
{
    padding: 20px 0;
}

/* section */

.section-table
{
    // display: table;
    // border-collapse: separate;
    // border-spacing: 10px;
    // border-spacing: 10px;
    width: 100%;
    .section-item
    {
        position: relative;
        // display: table-cell;

        display: inline-block;
        float: left;

        width: 280px;
        margin-right: 26px;
        padding: 24px;

        vertical-align: middle;
        // border-right: 20px solid #f1f1f1;

        background-color: #fff;
    }
    .section-item-last
    {
        margin-right: 0;
    }
    .item-title
    {
        padding-top: 6px;
        padding-bottom: 30px;

        text-align: center;
        h3
        {
            font-size: 18px;
            font-weight: normal;
            line-height: 21px;

            height: 21px;

            color: #424b4d;
        }
        span
        {
            font-size: 12px;
            line-height: 21px;

            display: inline-block;

            width: 102px;
            height: 21px;
            margin-left: 18px;

            text-align: center;

            color: #fff;
            background: url(../img/index_tips.png) center center no-repeat;
        }
    }
    .item-profit
    {
        font-size: 12px;

        color: #909090;
        p
        {
            text-align: center;
        }
        .item-percent
        {
            font-size: 16px;

            color: $red;
            em
            {
                font-size: 40px;
            }
        }
    }
    .item-btn
    {
        font-family: 'Microsoft Yahei';
        font-size: 16px;
        line-height: 34px;

        width: 100%;
        height: 40px;
        /* position: absolute;
    bottom: 30px;
    right: 38px; */
        margin-top: 20px;

        cursor: pointer;

        color: #fff;
        border: 0;
        border-radius: 4px;
        outline: none;
        background-color: $red;
    }
    .item-btn-disabled
    {
        pointer-events: none;

        background-color: #cecece;
    }
    .section-news-item
    {
        text-align: center;
    }
    .item-total
    {
        display: table;

        width: 100%;
    }
    .item-money
    {
        border-right: 1px solid #c9c9c9;
    }
    .item-money,
    .item-due
    {
        display: table-cell;
        float: left;

        width: 50%;
        height: 50px;

        text-align: center;
        em
        {
            font-size: 20px;

            display: block;

            padding-bottom: 12px;

            color: #000;
        }
        p
        {
            font-size: 14px;

            color: #707070;
        }
    }
    .profit-info
    {
        position: relative;

        margin-top: 15px;
        margin-bottom: 30px;

        cursor: pointer;
        text-indent: -20px;

        background: url(../img/index_warn.png) 140px center no-repeat;
        i
        {
            font-size: 12px;
            line-height: 1.4;

            position: absolute;
            z-index: 9;
            top: 20px;
            left: 0;

            display: none;

            width: 230px;
            padding: 5px;

            text-align: justify;
            text-indent: 0;

            color: #e68829;
            border: 1px solid #ffbb76;
            background-color: #fffcef;
        }
        em
        {
            position: absolute;
            z-index: 10;
            top: 14px;
            left: 139px;

            display: none;

            width: 14px;
            height: 7px;

            background: url(../img/index_tips_arrow.png) center center no-repeat;
        }
        &:hover
        {
            i
            {
                display: block;
            }
            em
            {
                display: block;
            }
        }
    }
    /* 直线进度条 */
    .line-progress
    {
        position: relative;
        p
        {
            font-size: 12px;

            padding-bottom: 12px;

            color: #707070;
        }
        .line-bottom
        {
            position: relative;

            overflow: hidden;

            width: 185px;
            height: 4px;

            background: #ececec url(../img/index_line.png) center center no-repeat;
        }
        .line-top
        {
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            background-color: #ececec;
        }
        strong
        {
            font-size: 14px;
            font-weight: normal;

            position: absolute;
            top: 20px;
            right: 0;

            color: #707070;
        }
    }
}

.premium-list
{
    padding: 20px ;

    background-color: #fff;
    .section-item
    {
        position: relative;

        display: table;

        width: 100%;
        padding: 20px 0;

        vertical-align: middle;

        border-bottom: 1px solid #eee;
        background-color: #fff;
    }
    .item-title
    {
        display: table-caption;

        padding-top: 20px;
        h3,
        span
        {
            display: inline-block;
        }
        h3
        {
            font-size: 18px;
            font-weight: normal;
            line-height: 21px;

            height: 21px;

            color: #424b4d;
        }
        span
        {
            font-size: 12px;
            line-height: 21px;

            margin-left: 18px;

            text-align: center;

            color: #fff;
        }
        .item-tips
        {
            width: 102px;
            height: 21px;

            background: url(../img/index_tips.png) center center no-repeat;
        }
        .item-quan
        {
            width: 53px;
            height: 21px;

            background: url(../img/finance_quan.png) center center no-repeat;
        }
    }
    .item-row
    {
        display: table-row;

        width: 100%;
    }
    .item-profit,
    .item-btn-wrap,
    .item-due,
    .start-num,
    .line-progress
    {
        display: table-cell;

        height: 40px;

        text-align: left;
        vertical-align: bottom;
    }
    .item-profit
    {
        font-size: 12px;

        width: 300px;

        color: #909090;
        p
        {
            display: inline-block;
        }
        .item-percent
        {
            font-size: 24px;

            color: $red;
            em
            {
                font-size: 34px;
            }
        }
    }
    .item-btn
    {
        font-family: 'Microsoft Yahei';
        font-size: 16px;
        line-height: 34px;

        width: 160px;
        height: 34px;

        cursor: pointer;

        color: #fff;
        border: 0;
        border-radius: 4px;
        outline: none;
        background-color: $red;
    }
    .item-btn-disabled
    {
        pointer-events: none;

        background-color: #cecece;
    }
    .section-news-item
    {
        text-align: center;
    }
    .item-due
    {
        width: 180px;
    }
    .start-num
    {
        width: 240px;
    }
    .item-due,
    .start-num
    {
        font-size: 12px;

        color: #909090;
        em
        {
            font-size: 30px;

            padding: 0 8px;

            color: #424b4d;
        }
    }
    .profit-info
    {
        position: relative;

        padding-right: 30px;

        cursor: pointer;

        background: url(../img/index_warn.png) 65px center no-repeat;
        i
        {
            font-size: 12px;
            line-height: 1.4;

            position: absolute;
            z-index: 9;
            top: 20px;
            left: 0;

            display: none;

            width: 192px;
            padding: 5px;

            text-align: justify;

            color: #e68829;
            border: 1px solid #ffbb76;
            background-color: #fffcef;
        }
        em
        {
            position: absolute;
            z-index: 10;
            top: 14px;
            left: 65px;

            display: none;

            width: 14px;
            height: 7px;

            background: url(../img/index_tips_arrow.png) center center no-repeat;
        }
        &:hover
        {
            i
            {
                display: block;
            }
            em
            {
                display: block;
            }
        }
    }
    /* 直线进度条 */
    .line-progress
    {
        width: 270px;
        p
        {
            font-size: 12px;

            padding-bottom: 12px;

            color: #a3a3a3;
        }
        .line-bottom
        {
            position: relative;

            overflow: hidden;

            width: 210px;
            height: 4px;

            background: #ececec url(../img/index_line.png) center center no-repeat;
        }
        .line-top
        {
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            background-color: #ececec;
        }
    }
}

.selected-content
{
    padding: 20px 0;
    .selection-slis
    {
        padding-top: 40px;
        padding-bottom: 24px;
        dt,
        dd
        {
            display: inline-block;

            cursor: pointer;
        }
        dt
        {
            margin-right: 78px;
            margin-left: 10px;
        }
        dd
        {
            margin-right: 30px;
            padding-right: 20px;

            background: url('../img/selected_up.png') right center no-repeat;
        }
        dt.active
        {
            color: $blue;
        }
        dd.active
        {
            color: $blue;
            background: url('../img/selected_up_active.png') right center no-repeat;
        }
        dd.active-down
        {
            color: $blue;
            background: url('../img/selected_down.png') right center no-repeat;
        }
    }
    .selected-list
    {
        padding: 24px;

        background-color: #fff;
    }
    .selected-item
    {
        padding-top: 20px;
        h3
        {
            font-size: 18px;

            color: #424b4d;
        }
        ul
        {
            display: table;

            width: 100%;
            padding: 20px 0;

            border-bottom: 1px solid #eee;
        }
        li
        {
            display: table-cell;

            text-align: center;
            vertical-align: bottom;
        }
        .item-profit
        {
            font-size: 17px;

            text-align: left;

            color: $red;
            em
            {
                font-size: 30px;
            }
        }
        .item-disc
        {
            font-size: 12px;

            margin-top: 20px;

            color: #909090;
        }
        .item-detail
        {
            font-size: 18px;
        }
        .line-wrap
        {
            width: 240px;
        }
        /* 直线进度条 */
        .line-progress
        {
            position: relative;

            width: 150px;
            padding-bottom: 7px;
            padding-left: 40px;
            p
            {
                font-size: 12px;

                padding-bottom: 12px;

                color: #a3a3a3;
            }
            .line-bottom
            {
                position: relative;

                overflow: hidden;

                width: 150px;
                height: 4px;

                background: #ececec url(../img/index_line.png) center center no-repeat;
            }
            .line-top
            {
                position: absolute;
                top: 0;
                left: 0;

                width: 100%;
                height: 100%;

                background-color: #ececec;
            }
            strong
            {
                font-size: 14px;
                font-weight: normal;

                position: absolute;
                top: -5px;
                right: -80px;

                color: #707070;
            }
        }
        .item-btn-wrap
        {
            vertical-align: middle;
        }
        .item-btn
        {
            font-family: 'Microsoft Yahei';
            font-size: 16px;
            line-height: 34px;

            width: 100px;
            height: 34px;

            cursor: pointer;

            color: #fff;
            border: 0;
            border-radius: 4px;
            outline: none;
            background-color: $red;
        }
        .item-btn-disabled
        {
            pointer-events: none;

            background-color: #cecece;
        }
    }
}


/* 债权转让 */

.debts-content
{
    padding: 20px 0;

    border-collapse: collapse;
}

.debts-table
{
    width: 100%;
    th,
    td
    {
        line-height: 74px;

        height: 74px;

        text-align: center;
    }
    th
    {
        font-size: 14px;
        font-weight: normal;

        color: #707070;
        p
        {
            display: inline-block;

            padding-right: 20px;

            cursor: pointer;
        }
    }
    td
    {
        border-bottom: 1px solid #eee;
        background-color: #fff;
    }
    .debts-arrow
    {
        p
        {
            background: url('../img/debts_arrow.png') right center no-repeat;
        }
    }
    .debts-refresh
    {
        p
        {
            padding: 20px;

            vertical-align: middle;

            background: url('../img/finance_refresh.png') center center no-repeat;
        }
    }
    .debts-title
    {
        h3
        {
            font-size: 18px;
            font-weight: bold;

            color: #424b4d;
        }
        i,
        h3
        {
            display: inline-block;
        }
        i
        {
            font-size: 14px;

            width: 23px;
            height: 23px;
            margin-right: 10px;

            vertical-align: middle;

            color: #fff;
            background: url('../img/debts_icon.png') center center no-repeat;
        }
    }
    .debts-percent
    {
        font-size: 15px;

        color: #ff7a7b;
    }
    .debts-money
    {
        font-size: 15px;
    }
    .debts-time
    {
        font-size: 15px;
    }
    .debts-line
    {
        width: 200px;
        padding-right: 40px;
        padding-left: 60px;
    }
    /* 直线进度条 */
    .line-progress
    {
        position: relative;

        width: 150px;
        padding-bottom: 7px;
        p
        {
            font-size: 12px;

            padding-bottom: 12px;

            color: #a3a3a3;
        }
        .line-bottom
        {
            position: relative;

            overflow: hidden;

            width: 150px;
            height: 4px;

            background: #ececec url(../img/index_line.png) center center no-repeat;
        }
        .line-top
        {
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            background-color: #ececec;
        }
        strong
        {
            font-size: 14px;
            font-weight: normal;

            position: absolute;
            top: -34px;
            right: -36px;

            color: #707070;
        }
    }
    .item-btn
    {
        font-family: 'Microsoft Yahei';
        font-size: 16px;
        line-height: 34px;

        width: 100px;
        height: 34px;

        cursor: pointer;

        color: #fff;
        border: 0;
        border-radius: 4px;
        outline: none;
        background-color: $red;
    }
    .item-btn-disabled
    {
        pointer-events: none;

        color: #707070;
        background-color: #ececec;
    }
}

/* 分页码 */
.page1,
.page2,
.page3
{
    height: 90px;
    padding-top: 50px;
    padding-bottom: 50px;

    text-align: center;

    background-color: #fff;
    .page_switch
    {
        height: 50px;
    }
}

.cal-crumbs-wrap {
    background-color: #f1f1f1;
}

.cal-crumbs {
    padding-top: 22px;
    padding-bottom: 15px;
    background-color: #f1f1f1;
    @include comw;
}

.cal-crumbs,
.cal-crumbs li,
.cal-crumbs li a {
    font-size: 14px;
    color: #959595;
}

.cal-crumbs li {
    float: left;
}

.cal-crumbs li a {
    outline: none;
}

.cal-crumbs li a:active {
    text-decoration: none;
}
