@charset 'UTF-8';
@import '../../../includ/scss/_reset';
@import '../../../includ/scss/public';
.crumbs-wrap {
    background-color: #f1f1f1;
}

.crumbs {
    padding-top: 22px;
    padding-bottom: 15px;
    background-color: #f1f1f1;
    @include comw;
}

.crumbs,
.crumbs li,
.crumbs li a {
    font-size: 14px;
    color: #959595;
}

.crumbs li {
    float: left;
}

.crumbs li a {
    outline: none;
}

.crumbs li a:active {
    text-decoration: none;
}

.personal-nav-wrap {
    padding: 15px 0;
    border-bottom: 1px solid #d8d8d8;
}

.personal-nav {
    display: table;
    border-right: 1px solid #eee;
    @include comw;
    li {
        display: table-cell;
        width: 180px;
        height: 90px;
        padding-bottom: 5px;
        cursor: pointer;
        text-align: center;
        vertical-align: bottom;
        border-left: 1px solid #eee;
    }
    .active {
        color: #00dada;
    }
}

.personal-account {
    background: url('../img/personal_user.png') center 5px no-repeat;
}

.personal-assets {
    background: url('../img/personal_keyword.png') center 5px no-repeat;
}

.personal-invest {
    background: url('../img/personal_analytics.png') center 5px no-repeat;
}

.personal-rec {
    background: url('../img/personal_mailing.png') center 5px no-repeat;
}

.personal-setting {
    background: url('../img/personal_cogwheel.png') center 5px no-repeat;
}

.container {
    min-width: 1200px;
    padding: 20px 0;
    background-color: #f1f1f1;
}

.personal {
    @include comw;
}

.personal-left {
    float: left;
    width: 193px;
    margin-right: 7px;
    background-color: #fff;
}

.personal-right {
    float: right;
    width: 1000px;
    background-color: #fff;
}

.left-nav {
    padding: 12px 0;
    li {
        line-height: 53px;
        height: 53px;
        cursor: pointer;
        text-indent: 35px;
    }
    li + li {
        margin-top: 10px;
    }
    .left-selected {
        position: relative;
        background-color: #f1f1f1;
        &:before {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 3px;
            height: 100%;
            content: '';
            background-color: #00dada;
        }
    }
}

.account-top {
    display: table;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 39px;
    border-bottom: 1px solid #ececec;
    > li {
        display: table-cell;
        height: 60px;
        vertical-align: middle;
    }
}

.account-portrait {
    width: 60px;
    padding: 0 20px;
    border-radius: 50%;
    img {
        display: block;
        width: 60px;
        height: 60px;
    }
}

.account-nickname {
    width: 120px;
}

.account-last {
    font-size: 14px;
    width: 260px;
    color: #909090;
}

.account-icons {
    width: 200px;
    ul {
        display: table;
        height: 100%;
    }
    li {
        display: table-cell;
        width: 50px;
        height: 100%;
    }
}

.account-usr {
    background: url('../img/account_profile.png') center center no-repeat;
}

.account-phone {
    background: url('../img/account_phone.png') center center no-repeat;
}

.account-card {
    background: url('../img/account_card.png') center center no-repeat;
}

.account-email {
    background: url('../img/account_email.png') center center no-repeat;
}

.account-usr-light {
    background: url('../img/account_profile_active.png') center center no-repeat;
}

.account-phone-light {
    background: url('../img/account_phone_active.png') center center no-repeat;
}

.account-card-light {
    background: url('../img/account_card_active.png') center center no-repeat;
}

.account-email-light {
    background: url('../img/account_email_active.png') center center no-repeat;
}

.account-quan {
    font-size: 14px;
    padding-right: 20px;
    text-align: right;
    color: #909090;
    background: url('../img/acc_quan.png') 90px center no-repeat;
    em {
        font-size: 16px;
        padding: 0 5px;
        color: #424b4d;
    }
}

.account-total {
    display: table;
    width: 100%;
    border-bottom: 1px solid #eee;
    & > li {
        display: table-cell;
        text-align: center;
    }
}

.total-desc {
    font-size: 14px;
    padding-top: 50px;
    padding-bottom: 20px;
    color: #909090;
}

.total-money {
    font-size: 14px;
    padding-bottom: 50px;
    color: #424b4d;
    em {
        font-size: 40px;
    }
}

.total-red {
    color: #ff7a7b;
}

.account-btns {
    width: 208px;
    border-left: 1px solid #eee;
    button {
        display: block;
        width: 117px;
        height: 36px;
        margin-left: 48px;
        cursor: pointer;
        color: #fff;
        border: 0;
        border-radius: 8px;
        outline: 0;
    }
}

.acc-charge {
    margin-bottom: 24px;
    background-color: #46d5dc;
}

.acc-cash {
    background-color: #0cbdc6;
}


/* 还款日历 */

.noselect {
    -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.cal1 {
    h4 {
        font-size: 14px;
        font-weight: normal;
        width: 75%;
        margin: 0 auto 1em auto;
        padding: 1em;
        text-align: center;
        color: white;
        background: #b63642;
    }
    h5 {
        font-size: 1em;
        font-weight: bold;
    }
    p {
        margin: 3em auto 1em auto;
        padding-top: .5em;
        padding-bottom: .5em;
        text-align: center;
        border-bottom: 2px solid #414141;
        background: #f4f4f4;
    }
}

.cal1 {
    position: relative;
    font-size: 14px;
    width: 100%;
    margin: 0 auto;
    background-color: #fcfcfc;
}

.clndr-topbar {
    font-size: 12px;
    display: table;
    width: 100%;
    padding-top: 44px;
    padding-bottom: 20px;
    color: #434c4e;
    background-color: #fff;
}

.clndr-tag {
    display: table-cell;
    span {
        position: relative;
        float: left;
        padding-right: 20px;
        padding-left: 40px;
        &:before {
            position: absolute;
            top: -3px;
            left: 0;
            display: block;
            width: 30px;
            height: 20px;
            content: '';
        }
    }
    .clndr-cur:before {
        top: 5px;
        height: 2px;
    }
}

.clndr-huan:before {
    background-color: #ffaeb9;
}

.clndr-hui:before {
    background-color: #46d5dc;
}

.clndr-he:before {
    background-color: #46bbdb;
}

.clndr-cur:before {
    background-color: #434c4e;
}

.clndr-repay-time {
    display: table-cell;
    text-align: right;
}

.cal1 .clndr .clndr-controls {
    position: relative;
    display: inline-block;
    width: 100%;
    /* margin-bottom: 10px; */
}

.clndr-datebar {
    display: table;
    width: 100%;
    height: 36px;
    background-color: #fcfcfc;
}

.cal1 .clndr .clndr-controls .month {
    font-size: 14px;
    font-weight: bold;
    display: table-cell;
    width: 33%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    color: #0cbdc6;
}

.cal1 .clndr .clndr-controls .clndr-control-button {
    display: table-cell;
    width: 33%;
    height: 100%;
    text-align: left;
    vertical-align: middle;
}

.cal1 .clndr .clndr-controls .clndr-control-button.rightalign {
    display: table-cell;
    width: 34%;
    height: 100%;
    text-align: right;
    vertical-align: middle;
}

.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button {
    /* IE10+ */
    display: inline-block;
    width: 7px;
    height: 14px;
    margin-right: 20px;
    cursor: pointer;
    -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    background: url('../img/calendar_right.png') center no-repeat;
}

.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button.inactive:hover {
    cursor: default;
}

.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button {
    /* IE10+ */
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-left: 20px;
    cursor: pointer;
    -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    background: url('../img/calendar_left.png') center no-repeat;
}

.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button.inactive:hover {
    cursor: default;
}

.cal1 .clndr .clndr-table {
    width: 640px;
    table-layout: fixed;
}

.cal1 .clndr .clndr-table .header-days {
    font-size: 10px;
    height: 30px;
    background: #46d5dc;
}

.cal1 .clndr .clndr-table .header-days .header-day {
    height: 40px;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    font-weight: bold;
}

.cal1 .clndr .clndr-table tr {
    height: 50px;
}

.cal1 .clndr .clndr-table tr td {
    vertical-align: top;
}

.cal1 .clndr .clndr-table tr .day {
    width: 100%;
    height: inherit;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid #fff;
    background-color: #fcfcfc;
}


/* .cal1 .clndr .clndr-table tr .day:hover
{
    background: #eee;
}
 */

.cal1 .clndr .clndr-table tr .day.today,
.cal1 .clndr .clndr-table tr .day.my-today {
    .day-contents {
        border-bottom: 2px solid #434c4e;
    }
}

.cal1 .clndr .clndr-table tr .day.event,
.cal1 .clndr .clndr-table tr .day.my-event {
    position: relative;
    .day-contents {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        text-align: center;
        line-height: 40px;
        color: #fff;
        z-index: 10;
    }
    &:before {
        position: absolute;
        top: 50%;
        margin-top: -20px;
        left: 50%;
        margin-left: -20px;
        content: '';
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        z-index: 9;
    }
}

.event-huan {
    &:before {
        background-color: #ffaeb9;
    }
}

.event-hui {
    &:before {
        background-color: #46d5dc;
    }
}

.event-he {
    &:before {
        background-color: #46bbdb;
    }
}

.cal1 .clndr .clndr-table tr .day.inactive,
.cal1 .clndr .clndr-table tr .day.my-inactive {
    background: #ddd;
}

.cal1 .clndr .clndr-table tr .day .day-contents {
    font-size: 14px;
    display: inline-block;
    width: 16px;
    padding: 5px 0;
    text-align: center;
    color: #434c4e;
}

.cal1 .clndr .clndr-table tr .empty,
.cal1 .clndr .clndr-table tr .adjacent-month,
.cal1 .clndr .clndr-table tr .my-empty,
.cal1 .clndr .clndr-table tr .my-adjacent-month {
    width: 100%;
    height: inherit;
    background: #fcfcfc;
    .day-contents {
        color: #c3c3c3;
    }
}


/* .cal1 .clndr .clndr-table tr .empty:hover,
.cal1 .clndr .clndr-table tr .adjacent-month:hover,
.cal1 .clndr .clndr-table tr .my-empty:hover,
.cal1 .clndr .clndr-table tr .my-adjacent-month:hover
{
    background: #ddd;
}
 */

.event-listing {
    position: absolute;
    right: 0;
    top: 115px;
    width: 298px;
    border-left: 2px solid #fff;
}

.event-listing-title {
    height: 40px;
    background-color: #0cbdc6;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
}

.event-wrap {
    height: 250px;
    overflow-y: auto;
}

.event-item {
    padding-left: 20px;
    font-size: 14px;
}

.event-item-time {
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bold;
    em {
        padding-left: 30px;
        color: #ffaeb9;
    }
}

.event-item-num,
.event-item-title {
    padding-bottom: 6px;
}

.event-item-gap {
    padding: 10px;
}


/* 投资中的项目 */

.invest-condition {
    display: table;
    margin-bottom: 20px;
    border-collapse: separate;
    border-spacing: 20px 0;
    dt,
    dd {
        padding: 5px 10px;
        display: table-cell;
        height: 25px;
        line-height: 20px;
        font-size: 15px;
        color: #707070;
    }
    dd {
        cursor: pointer;
        &.invest-selected {
            color: #fff;
            border-radius: 5px;
            background-color: #00dada;
        }
    }
    dt {
        position: relative;
    }
    button {
        position: absolute;
        top: 3px;
        left: 0;
        width: 80px;
        height: 30px;
        font-size: 14px;
        color: #fff;
        border-radius: 5px;
        border: 0;
        outline: 0;
        background-color: #00dada;
        cursor: pointer;
    }
}

.invest-table {
    width: 100%;
    th {
        text-align: center;
        background-color: #f7f7f7;
    }
    td {
        text-align: center;
    }
    th,
    td {
        font-size: 14px;
        color: #434c4e;
        font-weight: normal;
        height: 46px;
        line-height: 46px;
    }
    .odd {
        background-color: #f7f7f7;
    }
}

.ipage1,
.ipage2,
.ipage3,
.ipage4 {
    padding-top: 40px;
    text-align: center;
    .page_switch {
        height: 45px;
    }
}

.invest-condition {
    /*select*/
    .select_div {
        position: relative;
        display: inline-block;
        width: 100px;
    }
    .select_div span {
        height: 25px;
        line-height: 25px;
        display: block;
        // border: 1px solid #eee;
        background-color: #f1f1f1;
        padding-left: 5px;
        cursor: pointer;
        min-width: 100px;
        font-size: 14px
    }
    .select_div>div {
        display: none;
        max-height: 90px;
        overflow: hidden;
        position: absolute;
        z-index: 100;
        background-color: #fff
    }
    .select_div>div.active {
        display: block
    }
    .select_div em {
        float: right;
        height: 100%;
        display: inline-block;
        width: 25px;
        background-color: #fff;
        background-color: #00dada;
        text-align: center
    }
    .select_div em img {
        width: 16px;
        height: 8px;
        vertical-align: middle
    }
    .select_div ul {
        border-right: 1px solid #eee;
        position: relative;
        top: 0;
        left: 0
    }
    .select_div ul li {
        font-size: 14px;
        border-left: 1px solid #eee;
        border-bottom: 1px solid #eee;
        height: 30px;
        line-height: 30px;
        background-color: #fff;
        cursor: pointer;
        padding: 0 5px
    }
    .select_div ul li:hover {
        background-color: #f7f7f7
    }
}

.auto-title {
    display: table;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    >* {
        display: table-cell;
    }
    h3 {
        font-size: 16px;
        font-weight: normal;
        color: #000;
        text-align: center;
        width: 120px;
        padding-bottom: 8px;
        border-bottom: 2px solid #00dada;
    }
    .title-right {
        padding-right: 12px;
        text-align: right;
        a {
            font-size: 14px;
            color: #00dada;
        }
    }
}

.auto-flow-wrap {
    position: relative;
    h4 {
        padding: 38px 0;
        font-size: 14px;
        color: #434c4e;
        font-weight: normal;
    }
}

.auto-flow {
    padding-bottom: 59px;
    border-bottom: 1px solid #e5e5e5;
    background: url("../img/flow_bg.png") center 75px repeat-x;
    li {
        float: left;
        margin-left: 120px;
        padding-top: 150px;
        width: 160px;
        /* background: #fff; */
        text-align: center;
    }
}

.auto-set {
    background: #fff url("../img/auto_set.png") center 45px no-repeat;
    color: #434c4e;
}

.auto-wait {
    background: #fff url("../img/auto_wait.png") center 45px no-repeat;
    color: #909090;
}

.auto-wait-active {
    background: #fff url("../img/auto_wait_active.png") center 45px no-repeat;
    color: #434c4e;
}

.auto-start {
    background: #fff url("../img/auto_start.png") center 45px no-repeat;
    color: #909090;
}

.auto-start-active {
    background: #fff url("../img/auto_start_active.png") center 45px no-repeat;
    color: #434c4e;
}

.auto-plan {
    padding: 40px 0;
    border-bottom: 1px solid #e5e5e5;
    .plan-desc {
        display: none;
        padding-bottom: 40px;
        font-size: 14px;
        color: #434c4e;
        em {
            font-size: 18px;
            color: #00dada;
            font-weight: bold;
            padding: 0 8px;
        }
    }
}

.plan-item-wrap {
    // display: table;
    width: 100%;
    // border-collapse: separate;
    // border-spacing: 20px 0;
}

.plan-item {
    // display: table-cell;
    float: left;
    width: 450px;
    // height: 184px;
    margin: 0 10px;
}

.plan-item-none {
    width: 100%;
    height: 226px;
    border: 2px dashed #f1f1f1;
    background: url("../img/plan_none.png") center center no-repeat;
    cursor: pointer;
}

.plan-added {
    width: 100%;
    height: 226px;
}

.added-title {
    padding: 0 20px;
    height: 48px;
    line-height: 48px;
    background-color: #00dada;
    h4 {
        float: left;
        color: #fff;
        font-size: 16px;
    }
}

.added-switch {
	position: relative;
    float: right;
    margin-top: 13px;
    width: 72px;
    height: 22px;
    border-radius: 11px;
    overflow: hidden;
    span {
        display: block;
        float: left;
        
        height: 22px;
        line-height: 22px;
        font-size: 12px;
    }
    i{
    	display: block;
    	position: absolute;
    	top: 0;
    	left: 50px;
    	z-index: 100;
    	width: 22px;
    	height:22px;
    	background-color: #fff;
    	border-radius: 50%;
    	cursor: pointer;
    }
}

.switch-wrap{
	position: absolute;
	top: 0;
	left:0;
	width: 144px;
	z-index: 99;
    cursor: pointer;
}

.added-on {
	width: 72px;
    background-color: #00abab;
    color: #fff;
    text-indent: 10px;
}

.added-off {
	width: 61px;
	margin-left: -11px;
    background-color: #ececed;
    color: #909090;
    text-indent: 17px;
}

.added-content{
	padding: 30px 18px;
	border-left: 2px solid #f1f1f1;
	border-right: 2px solid #f1f1f1;
	p{
		font-size: 14px;
		color: #434c4e;
	}
	em{
		color: #00dada;
		font-weight: bold;
	}
}

.added-row{
	padding-top: 20px;
	width: 100%;
	p{
		float: left;
		&:first-child{
			padding-right: 30px;
		}
	}
}

.added-btns{
	padding: 6px 0;
	line-height: 24px;
	height: 36px;
	background-color: #f7f7f7;
	text-align: center;
	overflow: hidden;
	span{
		float: left;
		display:block;
		width: 224px;
		font-size: 14px;
		color: #434c4e;
	}
	.added-del{
		border-right: 2px solid #434c4e;
		color: #009090;
		cursor: pointer;
		text-indent: 130px;
	}
	.added-mod{
		cursor: pointer;
		text-indent: -125px;
	}
}



.auto-rule {
    padding-top: 40px;
    h4 {
        font-size: 18px;
        color: #00dada;
    }
    li {
        padding-top: 15px;
        font-size: 14px;
        color: #434c4e;
        ul {
            padding-left: 20px;
        }
    }
}


.plan-popup{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	height: 100%;
	width: 100%;
	.cover{
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10000;
		width: 100%;
		height: 100%;
		background-color: #000;
		opacity: 0.3;
		z-index: 999;
	}
	.popup-box{
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 100000;
		background-color: #fff;
		margin-left: -460px;
		margin-top: -223px;
		width: 920px;
	}
}

.popup-title{
	position: relative;
	height: 50px;
	line-height: 50px;
	text-indent: 30px;
	color: #434c4e;
	background-color: #ececed;
	.close-btn{
		cursor: pointer;
		position: absolute;
		top:9px;
		right: 30px;
		width: 32px;
		height: 32px;
		background: url("../img/popup_close.png") center no-repeat;
	}
}

.popup-content{
	padding: 25px 0;
}

.poup-item{
	margin-bottom: 15px;
}

.popup-desc{
	float: left;
	padding-right: 40px;
	width: 340px;
	text-align: right;
}
.popup-detail{
	float: left;
}

.popup-desc{
	color: #434c4e;
	height: 30px;
	line-height: 30px;
}


.popup-detail{
	font-size: 14px;
	color: #434c4e;
	>div{
		float: left;
		margin-right: 30px;
		height: 30px;
		line-height: 30px;
	}
	.popup-agreement{
		margin-left: -20px;
		a{
			color: #00dada;
		}
	}
}
.popup-radio{
	padding-left: 23px;
	background: url("../img/auto_radio.png") left center no-repeat;
	cursor: pointer;
}

.popup-radio-active{
	background: url("../img/auto_radio_selected.png") left center no-repeat;
}

.popup-input{
	display: none;
	height: 30px;
	input{
		background-color: #f2f2f2;
		width: 140px;
		height: 30px;
		padding: 5px; 
		margin-right: 5px;
	}
}

.popup-checkbox{
	padding-left: 23px;
	background: url("../img/auto_checkbox.png") left center no-repeat;
	cursor: pointer;
}

.popup-checkbox-active{
	background: url("../img/auto_checkbox_checked.png") left center no-repeat;
}

.popup-btn{
	text-align: center;
	button{
		width: 140px;
		height: 30px;
		border: 0;
		outline: 0;
		color: #fff;
		background-color: #ececed;
		cursor: pointer;
		pointer-events: none;
	}
	
}

.popup-btn-active{
	button{
		background-color: #00dada;
		pointer-events: auto;
	}
	
}

.del-popup{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	height: 100%;
	.cover{
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10000;
		width: 100%;
		height: 100%;
		background-color: #000;
		opacity: 0.3;
	}
	.del-box{
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 100000;
		margin-left: -215px;
		margin-top: -103px;
		background-color: #fff;
		width: 430px;
	}
	.del-title{
		height: 50px;
		line-height: 50px;
		text-align: center;
		color: #434c4e;
		background-color: #ececed;
	}
	.del-content{
		padding: 50px 0;
		text-align: center;
		color: #434c4e;
	}
	.del-btns{
		height: 40px;
		button{
			display: block;
			float: left;
			width: 50%;
			height: 100%;
			border: 0;
			outline: 0;
			cursor: pointer;
		}
		.del-confirm{
			color: #fff;
			background-color: #00dada;
		}
		.del-cancel{
			color: #909090;
			background-color: #ececed;
		}
	}
}