@charset "UTF-8";
@import '../../../includ/scss/_reset';
$gray: #eee;
$blue: #00dada;
$red: #ff7a7b;
@mixin fl {
    float: left;
}

@mixin fr {
    float: right;
}

@mixin comw {
    margin: 0 auto;
    width: 1200px;
}

.header {
    height: 100px;
    background: #fff;
}

.logo {
    @include comw;
    a {
        display: block;
        width: 293px;
        height: 100px;
        background: #fff url("../img/index_logo.png") left center no-repeat
    }
}

.footer-bottom {
    // height: 100px;
    padding: 10px 0;
    background-color: #959595;
}

.footer-copyright {
    @include comw;
    font-size: 15px;
    text-align: center;
    p {
        padding: 10px 0;
    }
    a {
        margin-left: 8px;
    }
    img {
        vertical-align: top;
        border: 0;
        outline: none;
    }
}

.container {
    background-color: #dadada;
}

.reg-box {
    @include comw;
    position: relative;
    height: 100%;
}

.reg {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: 230px;
    margin-top: -293px;
    padding: 30px 35px;
    width: 370px;
    background: #fff;
    input {
        display: block;
        margin-bottom: 16px;
        width: 100%;
        padding: 15px 20px;
        font-size: 14px;
        background-color: #f2f2f2;
    }
}

.reg-title {
    display: table;
    padding-bottom: 25px;
    width: 100%;
    h3 {
        // float: left;
        display: table-cell;
        font-size: 24px;
        color: #434c4e;
        font-weight: normal;
        vertical-align: bottom;
        width: 20%;
    }
    p {
        display: table-cell;
        vertical-align: bottom;
        text-align: right;
        width: 80%;
        font-size: 12px;
        color: #434c4e;
    }
    a {
        color: #00bdbd;
    }
}

.my-placeholder {
    color: #00bdbd;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #00bdbd;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #00bdbd;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #00bdbd;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #00bdbd;
}

.img-valid {
    position: relative;
    img {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 90px;
        background-color: #dadada;
        outline: 0;
        cursor: pointer;
    }
}

.msg-valid {
    position: relative;
    span {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 90px;
        outline: 0;
        text-align: center;
        color: #00dada;
        font-size: 14px;
        line-height: 49px;
        cursor: pointer;
    }
}

.rem {
    display: table;
    margin: 20px 0;
    p {
        display: table-cell;
        padding-left: 20px;
        height: 14px;
        line-height: 14px;
        text-align: left;
        font-size: 12px;
        color: #434c4e;
        cursor: pointer;
    }
    a {
        display: table-cell;
        text-align: left;
        height: 14px;
        line-height: 14px;
        font-size: 12px;
        color: #ff7a7b;
    }
}

.rem-unchecked {
    background: url("../img/checkbox.png") left center no-repeat;
}

.rem-checked {
    background: url("../img/checkbox_checked.png") left center no-repeat;
}

.log-btn {
    margin-bottom: 23px;
    button {
        width: 100%;
        height: 44px;
        line-height: 44px;
        font-size: 18px;
        color: #fff;
        background-color: #00bdbd;
        border: 0;
        outline: 0;
        cursor: pointer;
    }
}

.log-info {
    font-size: 14px;
    color: #00bdbd;
    text-align: center;
}

.rec {
    p {
        font-size: 18px;
        color: #434c4e;
        margin-bottom: 15px;
    }
    span {
        font-size: 14px;
        color: #909090;
    }
}

#kx_verify {width:96px !important;height:36px !important;}
#kx_verify img{width:96px;height:36px;}
